.container {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.answer {
  flex: 1;
  min-width: 400px;
  width: 100%;
}

.content {
  flex: 1;
  min-width: 400px;
  width: 100%;
}